name: Lint IaC Tools Dockerfile

on:
  pull_request:
    branches:
      - main
    paths:
      - "tools/iac/**"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Lint IaC Tools Dockerfile
        uses: hadolint/hadolint-action@v3.3.0
        with:
          dockerfile: tools/iac/Dockerfile
