name: Execute Terraform Plan

on:
  # push:
  #   branches:
  #     - main
  #   paths:
  #     - "terraform/**"
  pull_request:
    branches:
      - main
    paths:
      - "terraform/**"

jobs:
  tflint:
    if: github.event_name == 'pull_request'

    defaults:
      run:
        working-directory: terraform

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: terraform-linters/setup-tflint@v6
        name: Setup TFLint
        with:
          cache: true
          tflint_version: v0.60.0

      - name: Show version
        run: tflint --version

      - name: Init TFLint
        run: tflint --init
        env:
          # https://github.com/terraform-linters/tflint/blob/master/docs/user-guide/plugins.md#avoiding-rate-limiting
          GITHUB_TOKEN: ${{ github.token }}

      - name: Run TFLint
        run: tflint --format compact

  trivy:
    if: github.event_name == 'pull_request'

    needs: tflint
    runs-on: ubuntu-latest

    permissions:
      contents: read          # Required to checkout and read repo files
      actions: read           # Required to read actions secrets
      packages: read          # Required to read packages
      security-events: write  # Required to upload SARIF files to Security tab

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Manual Trivy Setup
        uses: aquasecurity/setup-trivy@v0.2.4
        with:
          cache: true
          version: v0.68.2

      - name: Run Trivy vulnerability scanner in IaC mode
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: 'config'
          hide-progress: true
          # Un-comment the following line only if you want to see the results in the console
          # format: 'table'
          # Comment the following line if you want to see the results in the console
          format: 'sarif'
          # Comment the following line if you want to see the results in the console
          output: 'trivy-results.sarif'
          exit-code: '1'
          severity: 'UNKNOWN,LOW,MEDIUM,HIGH,CRITICAL'
          scan-ref: './terraform/'
          skip-setup-trivy: true

      - name: Upload Trivy scan results to GitHub Security tab
        if: always()
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: 'trivy-results.sarif'

  terraform_plan:
    if: github.event_name == 'pull_request'

    needs: trivy

    defaults:
      run:
        working-directory: terraform

    runs-on: ubuntu-latest

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      TF_VAR_aws_default_region: ${{ secrets.AWS_DEFAULT_REGION }}
      TF_VAR_connection_host: ${{ secrets.CONNECTION_HOST }}
      TF_VAR_connection_port: ${{ secrets.CONNECTION_PORT }}
      TF_VAR_connection_user: ${{ secrets.CONNECTION_USER }}
      TF_VAR_connection_private_key: ${{ secrets.CONNECTION_PRIVATE_KEY }}
      TF_VAR_hubble_ui_username: ${{ secrets.HUBBLE_UI_USERNAME }}
      TF_VAR_hubble_ui_password: ${{ secrets.HUBBLE_UI_PASSWORD }}
      TF_VAR_hubble_ui_domain: ${{ secrets.HUBBLE_UI_DOMAIN }}
      TF_VAR_main_domain_tls_cert: ${{ secrets.MAIN_DOMAIN_TLS_CERT }}
      TF_VAR_main_domain_tls_key: ${{ secrets.MAIN_DOMAIN_TLS_KEY }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Fmt
        id: fmt
        run: terraform fmt -check -diff -recursive
        # continue-on-error: true

      - name: Set up Kubeconfig
        run: |
          mkdir --parents ~/.kube
          echo "${{ secrets.KUBECONFIG_CONTENT }}" > ~/.kube/config
          chmod 600 ~/.kube/config

      - name: Terraform Init
        id: init
        run: |
          terraform init \
            -input=false \
            -backend-config="bucket=${{ secrets.TERRAFORM_STATE_BUCKET }}" \
            -backend-config="region=${{ secrets.AWS_DEFAULT_REGION }}"

      - name: Terraform Validate
        id: validate
        run: terraform validate # -no-color

      - name: Terraform Plan
        id: plan
        run: terraform plan -input=false # -no-color
        # continue-on-error: true
